<div class="text-center">
<h3>You're offically invited to</h3>
<h1><%= @event.name %></h1>
<h5><%= @event.location %></h5>
<h5><%= @event.start_time %> until <%= @event.end_time %></h5>
<%= link_to "Guest List", event_attendees_path(@event) %>
<% @event.attendees.each do |attendee| %>
<% user_id = attendee.user_id %>
<% user = User.find(user_id) %>
<%= user.name %>
<% end %>
<br>
</div>


<% attending = current_user.attendees.select {|attendee| attendee.event_id == @event.id} %>
<% if attending.length > 0 %>
    <h4 class="text-center">You're already on the guest list</h4>
<% else %>
    <%= link_to "Click to attend", event_attend_path(@event), method: :get, class: "btn btn-primary" %>
<% end %>

